/* Main container for signup form and image */
.signup-form {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background: linear-gradient(
      rgba(0, 0, 0, 0.5),     
      rgba(0, 0, 0, 0.5)     
    ),
    url('../Assets/backgroundimg.jpeg'); 
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}


.signup-form form {
  flex: 1;
  max-width: 450px;
  margin: auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  text-align: justify;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

/* Form heading */
.signup-form h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
  color: #333;
}

/* Labels */
.signup-form label {
  font-weight: 500;
  margin-bottom: 6px;
  color: #555;
}

/* Input fields */
.signup-form input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.signup-form input:focus {
  border-color: #00ff1a;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Submit button */
.signup-form button {
  padding: 12px;
  background-color: #0b984a;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #067861;
}

@media (max-width: 768px) {
  .signup-form {
    flex-direction: column;
  }

  .imagecontainer {
    display: none; /* Hide image on mobile */
  }

  .signup-form form {
    width: 90%;
    margin: 40px auto;
  }
}
