.ma{
    background-image: url(/public/assets/ielts1.jpg);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: right;
    margin-top: 30px;
    height: 230px;
    opacity: 0.8;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 5px 9px rgb(219, 219, 219);
}
.pa{
    padding-left: 130px;
    padding-top: 20px;
    color: black;
}
.la{
    padding-left: 110px;
    padding-top: 10px;
}
.aa .p1{
    color: black;
}
.b1{
    margin-left: -760px;
    font-size: bold;
    border-radius: 8px;
}
.mt{
    size: 24px;
    height: 219px;
    margin-top: 40px;
    margin-left: 80px;
    line-height: 1.9;
    margin-right: 50px;

}
.lr{
    background-color: aliceblue;
}
.ielts_container {
  padding: 20px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.ielts_heading {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #2b2b2b;
}

.ielts_table_wrapper {
  overflow-x: auto;
}

.ielts_table {
  width: 60%;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 1rem;
  border: 1px solid #ddd;
}

.ielts_table th,
.ielts_table td {
  padding: 14px 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.ielts_table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 600;
}

.ielts_table tr:hover {
  background-color: #ecfdff;
}

.ielts_table a {
  color: #1a73e8;
  text-decoration: none;
}

.ielts_table a:hover {
  text-decoration: underline;
}
.box{
    text-decoration: none;
}
.box:hover{
    text-decoration: none;
}