

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px ;
  background: linear-gradient(320deg ,#21888c, #d3c013);
  border-bottom: 1px solid var(--border-color);

  top: 0;
  z-index: 100;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Toggle Button */
.loadButton {
  margin-top: 30px;
 background: #d7d043;
 color: #131111;
  padding: 0.6rem 1.3rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.loadButton:hover {
  opacity: 0.85;
  transform: scale(1.03);
}

/* Message before loading */
main {
 
  font-size: 1.2rem;
  text-align: center;
}

/* Theme support */
.light-theme {
  --primary: #2563eb;
  --btn-text: #fff;
  --card-bg: #f4f4f4;
  --border-color: #d2d2d2;
  background: #ffffff;
  color: #222;
}

.dark-theme {
  --primary: #4f9cff;
  --btn-text: #000;
  --card-bg: #1f2937;
  --border-color: #374151;
  background: #111827;
  color: #eee;
}

